!!!
%html
  %head
    %title Zencoding
    %link{ :href => '/stylesheets/zencoding.css' }
    %script{ :type => 'text/javascript', :src => 'http://www.google-analytics.com/urchin.js'}
    %script
      _uacct = "UA-169475-1";
      urchinTracker();
  %body{ :id => @item[:page_name] || '' }
    #body_container
      #header
        %h1
          = link_to "Zencoding", "index.html"
      #contents
        #navigation
          %h3 Site Navigation
          %ul
            %li.home 
              = link_to "Home", "index.html"
            %li.about
              = link_to "About", "about.html"
            %li.projects
              = link_to "Projects", "projects.html"
            %li.resume
              = link_to "Resume", "resume.html"
            
          %h3 My...
          %ul
            %li.picasa
              = link_to "picasa", "http://picasaweb.google.com/mphilpot"
            %li.flicker 
              = link_to "flicker", "http://www.flickr.com/photos/maloc/"
            %li.twitter 
              = link_to "twitter", "http://twitter.com/mphilpot"
          
        #main_contents
          = yield
      #footer
        &copy; Michael Philpott