!!!
%html
  %head
    %title Zencoding
    = stylesheets
    %script{ :type => 'text/javascript', :src => 'http://www.google-analytics.com/urchin.js'}
    %script
      _uacct = "UA-169475-1";
      urchinTracker();
  %body{ :id => @page_name || "" }
    #header
      %h1
        = link "Zencoding", "index.html"
    #contents
      #navigation
        %h3 Site Navigation
        %ul
          %li.home 
            = link "Home", "index.html"
          %li.about
            = link "About"
          %li.projects
            = link "Projects"
          %li.resume
            = link "Resume"
            
      #main_contents
        = yield
    #footer
      &copy; Michael Philpott